model.ckpt
exps
diff-gaussian-rasterization
diff-gaussian-rasterization-addfilter
**/__pycache__

gradio_director3d.py
EXP*

**/.vscode
/data
/mask
/test
/lora_tmp
/checkpoints
/fonts
/point_traj
/unused_file

nohup.out
logs/
testfolder/